name: Java CI/CD with Gradle and AWS CodeDeploy

on:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3  # Updated to v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3  # Updated to v3
        with:
          distribution: 'adopt'
          java-version: '17'

      - name: Grant execute permission for gradlew
        run: chmod +x ./gradlew

      - name: Build with Gradle
        run: ./gradlew clean build -x test

      - name: Prepare artifacts for deployment
        run: |
          mkdir -p before-deploy
          cp scripts/*.sh before-deploy/
          cp appspec.yml before-deploy/
          cp build/libs/*.jar before-deploy/
          cd before-deploy && zip -r before-deploy *
          cd ../ && mkdir -p deploy
          mv before-deploy/before-deploy.zip deploy/reredeployfiles.zip

      - name: Deploy to S3 (GitHub Artifacts)
        uses: actions/upload-artifact@v4  # Updated to v4
        with:
          name: deploy
          path: deploy

      - name: AWS 자격증명 설정
        uses: aws-actions/configure-aws-credentials@v2  # Updated to v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_KEY }}
          aws-region: ap-northeast-2

      - name: S3에 배포
        run: aws s3 cp deploy/reredeployfiles.zip s3://rerebucket/reredeployfiles.zip

      - name: AWS CodeDeploy를 사용한 배포
        run: |
          aws deploy create-deployment \
            --application-name rere-deploy \
            --deployment-group-name rere-deploy-group \
            --s3-location bucket=rerebucket,key=reredeployfiles.zip,bundleType=zip \
            --region ap-northeast-2